#work{
    margin: 0 auto;
    min-height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worktitle{
    margin: 1rem 0;
    font-size: 3rem;

}
.workdesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.workimgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.workbtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background: rgb(96, 156, 253);
    border-radius: 2rem;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgb(91, 246, .1);
}

  
@media screen and (max-width: 585px){
    .workimg{
        height: 48vw;
    }
}